/*
*, *:before, *:after {
	box-sizing: border-box
}
*/
html, body {
	margin: 0;
	padding: 0;
	color: black;
	font-size: 16px;
	font-family: 'Times New Roman';
}

.title {
	color: #000;
	font-weight: bold;
	font-size: 41px;
	margin-top: 125px;
}
.title .grey {
	color: #868786;
}
.logo {
	width: 225px;
	margin-top: 152px;
}

.page {
	/*border: 1px solid #ddd;*/
}

.month {
	color: #000;
	font-weight: bold;
	font-size: 41px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 45px;
	margin-bottom: 140px;
}

.day {
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 20px;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 17px;
}

.left {
	text-align: left;
	color: #000;
	padding: 0 28px 0 12px;
}
.right {
	text-align: right;
	color: #777;
	padding: 0 22px 0 18px;
}
/*
** Emojis
*/
.emoji {
	width: 20px;
	height: 20px;
	position: relative;
	top: -2px;
}